* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-family: 'Poppins', sans-serif;
}


header {
    background: url(/src/bg/bg1.jpg) center center/cover no-repeat;
    
}

.header__container {
    display: flex;
    gap: 50px;
    padding-top: 30px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 1110px;
 
 
}


.container {
    max-width: 1110px;
    margin: 0 auto;
} 

a, img {
    display: block;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 18px;
    font-weight: 600;  
    max-width: 100%;
}

.menu__item {
    margin-right: 56px;
}
    
.menu__item:last-child {
        margin-right: 0px;
}

.menu__link {
    color: #FFFFFF;
}

.menu__link:hover {
    color: #7A66CC;
}

h1 {
    margin-top: 342px;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
}

.container__title {
    font-size: 100px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px#FFFFFF;
}

.news {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.news-item {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin: 0 10px;
}

.news-item__image {
    height: 100%;
    width: 100%;
}

.news-item__info {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 35%;
    background: rgba(122, 102, 204, 0.7);
    border-radius: 20px 0px;
}

h3 {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-left: 5%;
}

.about {
        background: #1C1B21;
        padding-top: 150px;
}

 .about-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%
}

.about-info__picture {
    width: 50%;
}


.about-info__paragraph {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    margin-left: 30px;
}


.about-info__text {
    color: #FFFFFF;
    opacity: 0.7;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 40px; 
}

.about-info__descr {
    width: 50%;
}

.about-info__title {
    display: flex;
    align-items: center;
}

.about-more {
    display: flex;
}

.about-facts {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 66px;
    row-gap: 30px;
}

.about-facts__item {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 50%;
}
    

.about-facts__item::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #7A66CC;
    border-radius: 10px 0px;
    margin-right: 20px;
}

.about-more__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-left: 20px;
}

.quote {
    background: #1C1B21;  
    padding-top: 236px;
    padding-bottom: 265px;
}


.quote-block {
    position: relative;
    max-height: 313px;
    border: 1px solid #FFFFFF;
    border-radius: 30px 0px;  
}

.quote-block__text {
    max-height: 136px;
    max-width: 520px;
    margin-top: 50px;
    margin-left: 80px;
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.quote-block__text-img {
    position: absolute;
}

.quote-block__img {
    position: absolute;
    max-height: 483px;
    right: 7%;
    top: -25%;
}

.quote-block__line {
    border: 1px solid #FFFFFF;
    max-width: 520px;
    margin-left: 80px;
    opacity: 0.7;
    margin-top: 25px;
}

.quote-block__link {
    color: #7A66CC;
    margin-left: 80px;
    font-weight: 700;
    font-size: 18px;
    padding-top: 25px;
    margin-bottom: 50px;
}

.tracks {
    background: #1C1B21; 
}

.tracks-content {
     display: flex;
     justify-content: space-between;
     align-items: center;
}


.tracks-content__details {
    margin-left: 50px;
}

.tracks-content__title {
    display: flex;
    align-items: center;
}

.tracks-content__paragraph {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    margin-left: 30px;
}

.tracks-content__list {
    list-style: none;
    margin-top: 30px;
}

.tracks-content__list-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 20px;
    }

.tracks-content__list-link:hover {
    color: #7A66CC;
}

.num {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-right: 20px;
    vertical-align: middle;
}

.tracks-content__list-link {
    display: inline;
    color: #FFFFFF;
}

.tracks-content__social {
    display: flex;
    align-items: center;
    
}

.tracks-content__text {
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    margin-right: 45px;
}

.tracks-content__item {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 30px;
}

.gallery {
    background: #1C1B21; 
    padding: 180px 0;
}

.gallery-content {
    display: grid;
    gap: 20px;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    grid-template-areas: 
    "A B C D"
    "A E E D";
}

.gallery-content__img {
    width: 100%;
}

.gallery__item-one {
    grid-area: A;
}

.gallery__item-two {
    grid-area: B;
}

.gallery__item-three {
    grid-area: C;
}

.gallery__item-four {
    grid-area: E;
}

.gallery__item-five {
    grid-area: D;
}

.gallery__item:hover {
    filter: opacity(50%);
    transition: 0.5s; 
}

.gallery__item:hover .gallery-item__text {
    opacity: 1; 
    transition: 0.5s;
}

.gallery__item {
   position: relative;
}

.gallery-item__text {
    position: absolute;
    opacity: 0;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 24px;
    font-weight: 700;
    color: #7A66CC;   
}

.events {
    background: #1C1B21; 
}

.events-content {
    display: flex;
    gap: 30px;
}

.events-item {
    background-color: #2F2B2B;
    border-radius: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.events-item__image {
    width: 100%;
    
}

.events-item__city {
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 30px;
    margin-left: 35px;
}

.events-item__location {
    margin-left: 35px;
    margin-top: 15px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.events-item__details {
    margin-left: 35px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 0px; */
}

.events-item_details-date {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
}

.events-item_details-btn {
    color:#FFFFFF;
    background: #7A66CC;
    border-radius: 30px 0px;
    width: 50%;
    height: 60px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.events-item_details-btn:hover {
    background: #4c28db;
    cursor: pointer;
}

.footer {
    background: #1C1B21;  
    padding-top: 180px;
    padding-bottom: 60px;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-contacts {
display: flex;
justify-content: center;
gap: 30px;
margin-top: 60px;
color: #FFFFFF;
font-size: 18px;
}

.footer-contacts__contact {
    text-align: end;
    font-weight: 600;
}

.footer-contacts__detais a {
    color: #FFFFFF;
}

.footer-contacts__detais a:hover {
    color: #7A66CC;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.footer-social__item {
    width: 60px;
    height: 60px;
    background: #7A66CC;
    border-radius: 50%;
    border: 8px solid #2F2B2B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social__item:hover {
    background: #4c28db;
}

.footer-author {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;  
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 100px;
    margin-bottom: 40px;
}

.play {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 130px;
    margin-top: 50px;
}
.play__audio {
    display: flex;
   align-items: center;

}
.play__audio-vertical {
    width: 2px;
    height: 25px;
    background:#FFFFFF;
}

.play__audio-line {
    background:#FFFFFF;
    height: 2px;
    width: 887px;
   }

   .play__audio-time {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    
   }
